#pdf-container {
  position: relative;
  width: 100%;
  height: auto;
  overflow: auto;
}

.highlight {
  position: absolute;
  background-color: yellow;
  opacity: 0.5;
  z-index: 1000;
}

canvas {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}